.abstract-container {
  // height: 200px;
  // width: 100%;
  padding: 20px 80px;
  background-color: #39566c;
  color: #fff;
  .title-text {
    font-size: 30px;
  }
  .icon-container {
    display: flex;
    margin: 10px 0 20px 0;
    .icon-box {
      margin-right: 20px;
      .icon-item {
        margin-right: 5px;
      }
      .text {
        font-size: 10px;
      }
    }
  }
}
.discription-container {
  background-color: #fff;
  border-radius: 12px;
  margin: 20px 80px;
  padding: 20px 30px;
  .title-box {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  .discription-box {
    font-size: 12px;
    line-height: 24px;
  }
}